body {
    min-height: 100vh;
    background-image: linear-gradient(#00ffb3, #29a882);
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* background-color: #00ffb3; */
}

.main-heading {
    text-align: center;
}

.entry-box {
    background-color: #51bdfc;
    width: 50%;
    margin: auto;
    text-align: center;
    border-radius: 5px;
    padding: 30px;
}

.user-input {
    margin-bottom: 20px;
    color: #fffffffb;
}

#username {
    border: none;
    border-radius: 4px;
    padding: 5px;
    margin: 0px 10px;
}

.d-none {
    display: none;
}

.container {
    padding: 15px;
    margin: auto;
    background-color: #a24be9;
    border: solid 1px black;
    border-radius: 10px;
    width: 90vw;
    height: 70vh;
    overflow-y: scroll;
}

.message {
    color: #ffffffd2;
    margin-bottom: 10px;
    width: 25%;
    padding: 5px;
    background-color: #26755e;
    border-radius: 6px;
}

.left {
    float: left;
    clear: both;
}

.right {
    float: right;
    clear: both;
}

.center {
    width: 50%;
    border-radius: 12px;
    color: #ffffffa1;
    margin: auto;
    text-align: center;
    clear: both;
}

.author {
    margin: 3px;
    color: #ffffffb0;
    font-size: 80%;
}

#sendForm {
    margin-top: 10px;
    text-align: center;
}

#messageInput {
    padding: 3px 10px;
    width: 90%;
    border-radius: 8px;
    border: none;
    height: 30px;
}

.btn {
    background-color: #00f7ff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    padding: 8px 10px;
}